.summary-table {
  .back {
    @include button-back-style;
  }
  h2 {
    text-align: center;
    padding: 2rem;
  }
  .message {
    margin-top: 5rem;
  }
  .search-bar {
    margin: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    label {
      @include label-style;
      display: flex;
      align-items: center;
      svg {
        color: $blue;
        font-size: 2rem;
        padding-right: 1rem;
      }
    }
    .search-select-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      select {
        @include select-style;
        margin-bottom: 0;
      }
      input {
        width: 30rem;
        padding: 1rem;
        font-size: 1.6rem;
        border: 0.1rem solid $grey;
        border-radius: 0.5rem;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .add-myst-dest {
      button {
        margin: 3rem 2rem 0 2rem;
        padding: 0.5rem;
        border: 0.15rem solid $blue;
        border-radius: 0.3rem;
        color: $blue;
        font-family: "Lora-Medium";
      }
      @media #{$laptop} {
        button:hover {
          background-color: $blue;
          color: $creamy-white;
          svg {
            color: $creamy-white;
          }
        }
      }
    }
    table {
      max-width: 90%;
      margin: 5rem auto;
      th {
        font-family: "Lora-Bold";
        vertical-align: middle;
      }
      td:not(:last-of-type),
      th {
        font-size: 1.6rem;
        padding: 0.5rem;
        border: 1px solid $grey;
      }
      td:not(:last-of-type) {
        vertical-align: middle;
      }
      .table-button {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        select {
          @include select-style;
          width: 17rem;
          margin: 0.5rem;
        }
        div {
          display: flex;
          flex-direction: row;
        }
        @media #{$tablet} {
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }
      button {
        margin: 0.5rem;
        padding: 0.8rem;
        border: 0.15rem solid $blue;
        border-radius: 0.3rem;
        color: $blue;
        font-family: "Lora-Medium";
        svg {
          color: $blue;
          font-size: 1.5rem;
        }
      }
      .contact-button {
        button {
          display: block;
          width: 4rem;
          margin: 1rem;
          @media #{$tablet} {
            margin: 0;
          }
        }
        @media #{$tablet} {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          margin: 1rem;
        }
      }
      @media #{$laptop} {
        button:hover {
          background-color: $blue;
          color: $creamy-white;
          svg {
            color: $creamy-white;
          }
        }
      }
    }
    .no-results {
      margin-top: 3rem;
    }

    //contact
    .bold-status {
      font-family: "Lora-Medium";
      color: $blue;
    }
  }
}
