#about-us {
  .about-title {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("/src/assets/images/about-us/seaside.webp");
    background-size: cover;
    background-position: center;
    color: $creamy-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    padding: 5rem;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
    clip-path: ellipse(100% 100% at 50% 0%);
  }

  h2,
  h3 {
    text-align: center;
    padding: 5rem 0rem;
  }
  img {
    display: block;
    width: 70%;
    margin: 2rem auto 5rem auto;
  }
  #small-presentation {
    margin: 5rem;
    p {
      span {
        font-family: "Lora-Bold";
        font-style: italic;
      }
    }
    @media #{$tablet} {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 6rem;
      margin-bottom: 4rem;
      img {
        width: 50%;
      }
    }
    @media #{$laptop} {
      margin: 6rem auto 4rem auto;
    }
  }

  #our-team,
  #trip-with-us {
    margin: 5rem;
    p {
      span {
        font-family: "Lora-Bold";
        font-style: italic;
      }
    }
    @media #{$tablet} {
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        img {
          width: 50%;
        }
      }
    }
    @media #{$laptop} {
      margin: auto;
    }
  }
  #our-team {
    div {
      @media #{$tablet} {
        flex-direction: row-reverse;
      }
    }
  }

  #why-myst-travel {
    background-image: url("/src/assets/images/about-us/palm-tree-beach.webp");
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding: 3rem 0;
      div {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 1rem;
        margin: 1rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 1rem;
        svg {
          padding-top: 2rem;
          font-size: 4rem;
          color: $blue;
        }
        h3 {
          font-size: 2rem;
          text-align: center;
          padding: 1rem;
        }
        p {
          padding: 1rem;
        }
      }
      div {
        @media #{$tablet} {
          width: 45%;
        }
      }
      @media #{$laptop} {
        flex-wrap: nowrap;
      }
    }
  }

  #number {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("/src/assets/images/about-us/airport-about-page.webp");
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    padding: 0rem 4rem 5rem 4rem;
    h3 {
      color: $blue;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5rem;
      li {
        font-family: "Lora-Medium";
        color: $blue;
        text-align: center;
        border: 0.6rem solid $blue;
        border-radius: 10%;
        width: 20rem;
        height: 20rem;
        padding: 3rem 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
      }
      span {
        font-size: 5rem;
        font-family: "Lora-Bold";
      }
      @media #{$laptop} {
        flex-wrap: nowrap;
      }
    }
    @media #{$tablet} {
      padding: 5rem 15rem;
    }
  }
  #trip-with-us {
    a {
      display: block;
      @include button-style;
      width: 40%;
      margin: 2rem auto;
      text-align: center;
    }
    a:hover {
      @media #{$laptop} {
        background-color: $creamy-white;
        color: $blue;
        border: 3px solid $blue;
      }
    }
    div div {
      @media #{$tablet} {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        a {
          margin: 0;
          width: 70%;
        }
      }
    }
  }
}
