.auth {
  width: 60%;
  margin: 10rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  h2 {
    padding-bottom: 2rem;
  }
  form {
    @include form-style;
  }
  label {
    @include label-style;
  }
  input {
    @include input-style;
  }

  .password-condition {
    font-style: italic;
    font-size: 1.1rem;
  }
  div:last-of-type {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    label {
      font-size: 1.4rem;
    }
  }
  button {
    @include button-style;
    width: 30%;
    display: block;
    margin: 0.5rem auto;
  }
  button:hover {
    @media #{$laptop} {
      background-color: $creamy-white;
      color: $blue;
      border: 3px solid $blue;
    }
  }
  a {
    color: $blue;
    font-style: italic;
    font-family: "Lora-Medium";
  }
  @media #{$laptop} {
    width: 40%;
  }
}
