#contact {
  .title {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("/src/assets/images/contact/palm-tree-sunset.webp");
    background-size: cover;
    background-position: center;
    color: $creamy-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    clip-path: ellipse(100% 100% at 50% 0%);
    h2 {
      color: $creamy-white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      border: 0.3rem solid $creamy-white;
      padding: 1rem;
    }
  }
  svg {
    font-size: 3rem;
    color: $blue;
  }
  h3 {
    padding: 3rem;
    font-size: 2.5rem;
  }
  #contact-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    div,
    p {
      text-align: center;
    }
    div:not(:last-child)::after {
      content: "";
      display: block;
      width: 50%;
      height: 0.2rem;
      margin: 2rem auto;
      background-color: $blue;
    }
    a {
      color: black;
    }
    @media #{$tablet} {
      flex-direction: row;
      justify-content: center;
      align-items: stretch; //étire les div à la même hauteur
      margin: 4rem 0;
      div {
        width: 30%;
        position: relative;
      }
      div:not(:last-child)::after {
        content: "";
        display: block;
        width: 0.2rem; // Bordure verticale
        height: 100%; // Hauteur de la bordure
        background-color: $blue;
        margin: 0; // Aligner à droite
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    @media #{$laptop} {
      margin: 10rem auto;
    }
  }
  #open-hours {
    margin: 10rem auto;
    text-align: center;
    p {
      text-align: center;
    }
  }
  #form-contact {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("/src/assets/images/contact/plane-in-sky.webp");
    background-size: cover;
    background-position: bottom;
    margin: 4rem 0;
    padding: 5rem;
    h3 {
      color: $creamy-white;
      text-align: center;
      width: 80%;
      margin: auto;
      padding-top: 0;
    }
    form {
      background-color: rgba(255, 255, 255, 0.5);
      width: 70%;
      margin: auto;
      padding: 2rem;
      border-radius: 1rem;
      @include form-style;
      label {
        @include label-style;
      }
      input {
        @include input-style;
      }
      select {
        @include select-style;
      }
      textarea {
        @include textarea-style;
      }
      button {
        @include button-style;
        width: 50%;
        display: block;
        margin: 0.5rem auto;
      }
      button:hover {
        @media #{$laptop} {
          background-color: $creamy-white;
          color: $blue;
          border: 3px solid $blue;
        }
      }
      @media #{$laptop} {
        width: 50%;
      }
    }
  }

  #social-media {
    margin: 4rem 0;
    padding: 2rem;
    h3 {
      text-align: center;
      padding-bottom: 5rem;
    }
    div {
      display: flex;
      justify-content: center;
      gap: 3rem;
      margin-bottom: 2rem;
    }
  }
}
