#cust-trip {
  h2 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("/src/assets/images/cust-trip/beach.webp");
    background-size: cover;
    background-position: center;
    color: $creamy-white;
    padding: 5rem;
    margin-bottom: 2rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    clip-path: ellipse(100% 100% at 50% 0%);
  }
  span {
    font-family: "Lora-Bold";
  }
  .confirmation {
    @include confirmation-message;
  }
  section {
    .introduction-cust-trip {
      margin: 5rem 5rem 0 5rem;

      p {
        margin-bottom: 1rem;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      margin: 3rem 5rem;
      .question {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        svg {
          font-size: 4rem;
          color: $blue;
          width: 5rem;
        }
        div {
          display: flex;
          flex-direction: column;
          width: 32rem;
          label {
            @include label-style;
            margin-bottom: 0.5rem;
          }
          select {
            @include select-style;
          }
          input {
            @include input-style;
          }
        }
      }
      button {
        @include button-style;
        width: 30%;
        display: block;
        margin: 5rem auto;
      }
      button:hover {
        @media #{$laptop} {
          background-color: $creamy-white;
          color: $blue;
          border: 3px solid $blue;
        }
      }
    }
    @media #{$tablet} {
      .question:nth-child(odd) {
        align-self: flex-start;
      }
      .question:nth-child(even) {
        align-self: flex-end;
        flex-direction: row-reverse;
      }
    }
  }
}
