#cust-trip {
  h2 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("/src/assets/images/cust-trip/beach.webp");
    background-size: cover;
    background-position: center;
    color: $creamy-white;
    padding: 5rem;
    margin-bottom: 2rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .confirmation {
    @include confirmation-message;
    @media #{$laptop} {
      margin: 5rem auto;
    }
  }

  section {
    p {
      margin: 5rem;
      span {
        font-family: "Lora-Bold";
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      width: 80%;
      margin: 5rem;
      label {
        @include label-style;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        svg {
          font-size: 2rem;
          color: $blue;
        }
      }
      select {
        @include select-style;
        width: 60%;
      }
      input {
        @include input-style;
        width: 60%;
      }
      button {
        @include button-style;
        width: 30%;
        display: block;
        margin: 2rem auto;
      }
      button:hover {
        @media #{$laptop} {
          background-color: $creamy-white;
          color: $blue;
          border: 3px solid $blue;
        }
      }
      @media #{$laptop} {
        align-items: flex-start;
      }
    }
  }
}
