// VARIABLES
$creamy-white: #fdfdfd;
$blue: #274c77;
$grey: #4d4d4d;
$red: #b22234;

// FONTS
@font-face {
  font-family: "Lora-Regular";
  src: url("../font/Lora/static/Lora-Regular.ttf");
}

@font-face {
  font-family: "Lora-Medium";
  src: url("../font/Lora/static/Lora-Medium.ttf");
}

@font-face {
  font-family: "Lora-Bold";
  src: url("../font/Lora/static/Lora-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../font/Poppins/Poppins-Medium.ttf");
}

// MIXIN
@mixin button-style {
  background-color: $blue;
  color: $creamy-white;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

@mixin button-back-style {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: $grey;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}

@mixin form-style {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@mixin label-style {
  font-size: 1.5rem;
  font-family: "Lora-Bold";
  padding: 0.5rem 0rem;
}

@mixin input-style {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding-left: 0.5rem;
  height: 3rem;
}

@mixin textarea-style {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0.5rem;
  height: 10rem;
}

@mixin select-style {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  padding: 0.5rem 0rem;
  margin-bottom: 0.7rem;
}

@mixin info-label {
  text-decoration: underline;
  font-family: "Lora-Bold";
}

@mixin confirmation-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 5rem;
  svg {
    font-size: 4rem;
    color: $blue;
  }
  .fa-circle-check {
    margin: 5rem 0;
  }
  p {
    text-align: center;
  }
  p:last-of-type {
    padding-top: 3rem;
  }
}

// RESPONSIVE
$tablet: "screen and (min-width:768px)";
$laptop: "screen and (min-width:1024px)";
