.legals-docs {
  padding-bottom: 5rem;
  button {
    @include button-back-style;
  }
  h2 {
    text-align: center;
    padding: 5rem;
  }
  section {
    padding: 5rem;
    span {
      font-family: "Lora-Bold";
    }

    a {
      color: $blue;
      font-family: "Lora-Medium";
    }
  }
}
