#myst-dest {
  h2 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("/src/assets/images/myst-dest/road.webp");
    background-size: cover;
    background-position: center;
    color: $creamy-white;
    padding: 5rem;
    margin-bottom: 2rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  span {
    font-family: "Lora-Bold";
  }
  .intro-myst-dest p,
  .filter-summary p {
    margin: 1rem 5rem;
  }
  h3 {
    padding-top: 2rem;
    margin: 1rem 5rem;
  }

  //STYLES COMMUNS POUR LES 2 DESIGN DE FILTRES
  legend {
    font-family: "Lora-Bold";
    font-size: 1.8rem;
    padding-top: 4rem;
  }
  .input-label {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-bottom: 1rem;
    input,
    label {
      display: block;
      margin-right: 1rem;
    }
    input {
      width: 2.5rem;
    }
    label {
      font-family: "Lora-Regular";
    }
  }
  .design-mobile {
    .mobile-filter {
      background-color: rgba(128, 128, 128, 0.2);
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto; /* Permet le défilement horizontal */
      gap: 1rem;
      padding: 1rem 5rem;
      /* Masquer la barre de défilement */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE et Edge */
      section {
        flex: 0 0 auto;
        max-width: 30rem; /* Taille minimale pour les titres des filtres */
        h4 {
          font-size: 1.6rem;
          text-align: center;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          background-color: #f8f8f8;
          border: 1px solid #ddd;
          border-radius: 0.5rem;
        }
      }
      section.active-filter {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        label {
          font-size: 1.6rem;
        }
      }
    }
  }
  /* Masquer la barre de défilement */
  .mobile-filter::-webkit-scrollbar {
    display: none; /* Chrome, Safari et Edge */
  }

  .design-tablet {
    display: grid;
    grid-template-columns: 2fr 5fr;
    .tablet-filter {
      background-color: rgba(128, 128, 128, 0.2);
      display: flex;
      flex-direction: column;
      padding: 2rem;
      border-right: 1px solid $grey;
      margin-bottom: 3rem;
      h4 {
        font-size: 1.6rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }
      p {
        margin-left: 0;
      }
    }
    .info-dest {
      flex-direction: row;
      flex-wrap: wrap;
      article {
        width: 45%;
        height: 50rem;
        margin-top: 3rem;
      }
    }
  }

  .info-dest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    article {
      width: 70%;
      height: 63rem;
      margin: 2rem auto;
      padding: 0.5rem;
      border-radius: 1rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 10rem;
        padding: 2rem;
      }
      p {
        padding-left: 1rem;
      }
      img {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 12; /* Ratio largeur / hauteur */
        object-fit: cover;
        border-radius: 0.5rem;
        margin: 0 auto 1rem auto;
      }
      a {
        @include button-style;
        display: block;
        width: 40%;
        margin: 2rem auto;
        text-align: center;
        @media #{$tablet} {
          width: 45%;
        }
      }
      a:hover {
        @media #{$laptop} {
          background-color: $creamy-white;
          color: $blue;
          border: 3px solid $blue;
        }
      }
    }
    @media #{$laptop} {
      article:hover {
        box-shadow: 0 40px 40px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
