#myst-dest-detail {
  .back {
    @include button-back-style;
  }
  h2 {
    text-align: center;
    padding: 5rem;
  }
  img {
    display: block;
    width: 70%;
    margin: auto;
  }
  .information-destination {
    margin: 5rem;
    h3 {
      padding: 3rem 0;
      margin-top: 2rem;
    }
    div {
      text-align: center;
      img {
        max-width: 70%;
      }
    }
    span {
      font-family: "Lora-Bold";
      text-decoration: underline;
    }
    svg {
      font-size: 2.5rem;
      color: $blue;
    }
    .info-price {
      font-style: italic;
    }
    @media #{$laptop} {
      margin: auto;
    }
  }
  section:last-of-type {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    div {
      img {
        margin-top: 2rem;
      }
      @media #{$tablet} {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        img {
          width: 50%;
          margin: 0;
        }
      }
    }
    button {
      @include button-style;
      display: block;
      width: 20%;
      margin: 5rem auto;
    }
    button:hover {
      @media #{$laptop} {
        background-color: $creamy-white;
        color: $blue;
        border: 3px solid $blue;
      }
    }

    @media #{$laptop} {
      margin: auto;
    }
  }
}
