#page-not-found {
  .back {
    @include button-back-style;
  }
  section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    svg {
      font-size: 5rem;
      display: block;
      padding: 1rem;
      color: $red;
    }
    p {
      text-align: center;
      font-size: 2rem;
      font-family: "Lora-Medium";
    }
  }
}
