#reservation {
  .back {
    @include button-back-style;
  }
  h2 {
    text-align: center;
    padding: 5rem;
  }
  span {
    font-family: "Lora-Bold";
  }
  .confirmation {
    @include confirmation-message;
  }
  p,
  h3 {
    margin: 0 3rem;
  }
  p {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 30rem;
      label {
        @include label-style;
        margin-top: 4rem;
      }
    }
    #date {
      input {
        @include input-style;
        width: 13rem;
      }
    }
    #people {
      input {
        @include input-style;
        width: 30rem;
      }
    }
    @media #{$tablet} {
      align-items: flex-start;
      margin-left: 3rem;
      #date,
      #people {
        display: flex;
        flex-direction: row;
        gap: 8rem;
        margin: auto;
        div {
          align-items: flex-start;
        }
      }
    }
    @media #{$laptop} {
      #date,
      #people {
        align-items: center;
        gap: 15rem;
      }
    }

    .budget-duration {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .info-price {
        font-style: italic;
      }
    }
    @media #{$tablet} {
      .budget-duration {
        margin-top: 5rem;
        p,
        h3 {
          margin-left: 0;
        }
      }
    }
    button {
      @include button-style;
      display: block;
      width: 20%;
      margin: 3rem auto;
    }
    button:hover {
      @media #{$laptop} {
        background-color: $creamy-white;
        color: $blue;
        border: 0.3rem solid $blue;
      }
    }
  }
}
