@import "./pages/_reset";

@import "./pages/_general";

@import "./pages/partial/_header";
@import "./pages/partial/_footer";

@import "./pages/_home";
@import "./pages/_about-us";
@import "./pages/_myst-dest";
@import "./pages/_myst-dest-detail";
@import "./pages/_cust-trip";
@import "./pages/_reservation";
@import "./pages/_contact";
@import "./pages/_auth";

@import "./pages/admin/_dashboard";
@import "./pages/admin/_summary-table";
@import "./pages/admin/_contact-cust-trip-reservation";
@import "./pages/admin/_myst-dest-add-update";

@import "./pages/_legal-doc";

@import "./pages/_pagenotfound";

// STYLE GÉNÉRALE

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $creamy-white;
}

main {
  min-height: 80vh;
}

@media #{$laptop} {
  .container {
    max-width: 1024px;
    margin: auto;
  }
}

h2 {
  color: $blue;
  font-family: "Poppins-Medium";
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

h3,
h4 {
  color: $blue;
  font-family: "Poppins-Medium";
}

h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 2rem;
}

p,
li,
fieldset {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  text-align: justify;
  line-height: 3rem;
}

a {
  font-family: "Lora-Regular";
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

.message {
  color: $red;
  font-family: "Lora-Medium";
}

a:hover,
button:hover {
  @media #{$laptop} {
    cursor: pointer;
  }
}

img {
  border-radius: 10%;
}
