@import "./pages/_reset";

@import "./pages/_general";

@import "./pages/_header";
@import "./pages/_footer";
@import "./pages/_home";
@import "./pages/_myst-dest";
@import "./pages/_myst-dest-detail";
@import "./pages/_reservation";
@import "./pages/_cust-trip";
@import "./pages/_about-us";
@import "./pages/_auth";
@import "./pages/_contact";
@import "./pages/pagenotfound";

@import "./pages/admin/_dashboard";
@import "./pages/admin/_summary-table";
@import "./pages/admin/_contact-cust-trip-reservation";
@import "./pages/admin/_myst-dest-add-update";

@import "./pages/_legal-doc";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $creamy-white;
}

main {
  min-height: 90vh;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h2,
h3,
h4 {
  color: $blue;
  font-family: "Poppins-Medium";
}

h2 {
  font-size: 3rem;
  padding: 1rem;
}

h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p,
li,
fieldset {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  text-align: justify;
  line-height: 3rem;
}

a {
  font-family: "Lora-Regular";
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

.message {
  color: $red;
  font-family: "Lora-Medium";
}

//media queries pour ordi
// button:hover {
//   cursor: pointer;
// }
