@charset "UTF-8";
/* Reset CSS par Eric Meyer */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lora-Regular";
  src: url("../font/Lora/static/Lora-Regular.ttf");
}
@font-face {
  font-family: "Lora-Medium";
  src: url("../font/Lora/static/Lora-Medium.ttf");
}
@font-face {
  font-family: "Lora-Bold";
  src: url("../font/Lora/static/Lora-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../font/Poppins/Poppins-Medium.ttf");
}
header {
  background-color: #274c77;
}
header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem;
}
header section .plane-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
header section .plane-logo img {
  width: 20%;
}
header section .plane-logo .myst-travel {
  font-family: "Poppins-Medium";
  font-size: 3.5rem;
  color: #fdfdfd;
  padding: 2rem;
  z-index: 5;
}
header section .header-mobile {
  justify-content: flex-start;
  gap: 7rem;
}
header section .header-mobile img {
  width: 30%;
}
header section #burger-menu {
  /* Styles de base de l'icône du burger */
}
header section #burger-menu svg {
  font-size: 3rem;
  padding: 2rem;
  color: #fdfdfd;
  position: relative;
  z-index: 5;
}
header section #burger-menu.open nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #274c77;
  padding: 2rem;
  z-index: 3;
}
header section #burger-menu.open nav a {
  color: #fdfdfd;
  text-align: right;
  font-size: 2rem;
  padding: 2rem;
  transition: color 0.3s;
  border-radius: 1rem;
}
header section #burger-menu.open .active {
  background-color: #fdfdfd;
  color: #274c77;
}
header section #burger-menu nav {
  display: none;
}
header body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
header .tablet-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem;
}
header .tablet-header h1 {
  color: #fdfdfd;
  padding: 2rem;
}
header .tablet-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
header .tablet-header nav a {
  font-family: "Lora-Regular";
  text-align: center;
  font-size: 1.8rem;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
}
@media screen and (min-width:1024px) {
  header .tablet-header nav a:hover {
    background-color: #fdfdfd;
    color: #274c77;
  }
}
header .tablet-header nav .active {
  background-color: #fdfdfd;
  color: #274c77;
}
@media screen and (min-width:1024px) {
  header .tablet-header nav a {
    margin: 0 0.5rem;
  }
}

footer {
  background-color: #274c77;
  padding-top: 2rem;
}
footer div section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: auto;
}
footer div section a,
footer div section h4,
footer div section p {
  color: #fdfdfd;
}
footer div section h4,
footer div section p {
  line-height: 1.5rem;
}
footer div section h4 {
  padding-bottom: 1rem;
}
footer div .myst-travel a {
  font-family: "Poppins-Medium";
  font-size: 3.5rem;
  text-align: center;
  padding: 3rem;
}
@media screen and (min-width:768px) {
  footer div .myst-travel {
    grid-area: myst-travel;
    width: 100%;
  }
}
footer div .navigation nav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
@media screen and (min-width:768px) {
  footer div .navigation {
    grid-area: navigation;
    padding: 0;
    width: 100%;
    margin: 3rem auto;
  }
  footer div .navigation .container {
    margin: 0;
  }
}
footer div .open-hours {
  padding: 3rem 0;
}
@media screen and (min-width:768px) {
  footer div .open-hours {
    grid-area: open-hours;
    padding: 0;
    width: 100%;
    margin: 3rem auto;
  }
}
footer div .social-media div {
  display: flex;
  gap: 5rem;
}
footer div .social-media a {
  padding: 0;
  font-size: 3rem;
}
@media screen and (min-width:768px) {
  footer div .social-media {
    grid-area: social-media;
    padding: 0;
    width: 100%;
    margin: 3rem auto;
  }
}
footer div .legal {
  padding: 3rem 0;
}
footer div .legal a,
footer div .legal p {
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (min-width:768px) {
  footer div .legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5rem;
    width: 100%;
    padding: 1rem;
    grid-area: legal;
  }
}
@media screen and (min-width:768px) {
  footer div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: " myst-travel navigation open-hours" " myst-travel  navigation social-media" "legal legal legal";
    gap: 3rem;
  }
}

#home h2 {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/src/assets/images/home/beach-with-palm.webp");
  background-size: cover;
  background-position: center;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
          clip-path: ellipse(100% 100% at 50% 0%);
}
#home h3 {
  text-align: center;
  padding: 3rem 0;
}
#home span {
  font-family: "Lora-Bold";
  font-style: italic;
}
#home .presentation {
  padding: 5rem;
}
#home .presentation p {
  text-align: center;
}
#home .images {
  text-align: center;
  margin: 1rem;
}
#home .images img {
  width: 49%;
  margin: auto;
  padding: 1rem;
}
@media screen and (min-width:1024px) {
  #home .images {
    margin: auto;
  }
  #home .images img {
    width: 33%;
  }
}
#home .offer {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/src/assets/images/home/word-map.webp");
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
}
#home .offer div {
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 2rem;
  border-radius: 1rem;
}
#home .offer div h4 {
  text-align: center;
  padding: 2rem;
}
#home .offer div a {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
@media screen and (min-width:1024px) {
  #home .offer div a:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}
@media screen and (min-width:768px) {
  #home .offer {
    flex-direction: row;
    height: 60rem;
  }
  #home .offer div {
    width: 40%;
  }
}
@media screen and (min-width:1024px) {
  #home .offer div {
    width: 30%;
  }
}
#home .mystery,
#home .ready-for-adventure {
  margin: 2rem 0;
  padding: 5rem;
}
#home .mystery div img,
#home .ready-for-adventure div img {
  display: block;
  width: 70%;
  margin: 2rem auto 0 auto;
}
@media screen and (min-width:768px) {
  #home .mystery div,
  #home .ready-for-adventure div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #home .mystery div img,
  #home .ready-for-adventure div img {
    width: 60%;
    margin: 0;
  }
}
@media screen and (min-width:768px) {
  #home .mystery div img,
  #home .ready-for-adventure div img {
    width: 50%;
  }
}
@media screen and (min-width:768px) {
  #home .ready-for-adventure div {
    flex-direction: row-reverse;
  }
}
#home .destination-escape {
  background-image: url("/src/assets/images/home/sea.webp");
  background-size: cover;
  background-position: center;
  padding: 2rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .destination-escape div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 2rem;
}
#home .destination-escape div p,
#home .destination-escape div h3 {
  color: #fdfdfd;
}

#about-us .about-title {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/src/assets/images/about-us/seaside.webp");
  background-size: cover;
  background-position: center;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  padding: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
          clip-path: ellipse(100% 100% at 50% 0%);
}
#about-us h2,
#about-us h3 {
  text-align: center;
  padding: 5rem 0rem;
}
#about-us img {
  display: block;
  width: 70%;
  margin: 2rem auto 5rem auto;
}
#about-us .small-presentation {
  margin: 5rem;
}
#about-us .small-presentation p span {
  font-family: "Lora-Bold";
  font-style: italic;
}
@media screen and (min-width:768px) {
  #about-us .small-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  #about-us .small-presentation img {
    width: 50%;
  }
}
@media screen and (min-width:1024px) {
  #about-us .small-presentation {
    margin: 6rem auto 4rem auto;
  }
}
#about-us .our-team,
#about-us .trip-with-us {
  margin: 5rem;
}
#about-us .our-team p span,
#about-us .trip-with-us p span {
  font-family: "Lora-Bold";
  font-style: italic;
}
@media screen and (min-width:768px) {
  #about-us .our-team div,
  #about-us .trip-with-us div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  #about-us .our-team div img,
  #about-us .trip-with-us div img {
    width: 50%;
  }
}
@media screen and (min-width:768px) {
  #about-us .our-team div {
    flex-direction: row-reverse;
  }
}
#about-us .why-myst-travel {
  background-image: url("/src/assets/images/about-us/palm-tree-beach.webp");
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
}
#about-us .why-myst-travel div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
}
#about-us .why-myst-travel div div {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
}
#about-us .why-myst-travel div div svg {
  padding-top: 2rem;
  font-size: 4rem;
  color: #274c77;
}
#about-us .why-myst-travel div div h4 {
  text-align: center;
  padding: 1rem;
}
#about-us .why-myst-travel div div p {
  padding: 1rem;
}
@media screen and (min-width:768px) {
  #about-us .why-myst-travel div div {
    width: 45%;
  }
}
@media screen and (min-width:1024px) {
  #about-us .why-myst-travel div {
    flex-wrap: nowrap;
  }
}
#about-us .number {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/src/assets/images/about-us/airport-about-page.webp");
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  padding: 0rem 5rem 5rem 5rem;
}
#about-us .number h3 {
  color: #274c77;
}
#about-us .number ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
#about-us .number ul li {
  font-family: "Lora-Medium";
  color: #274c77;
  text-align: center;
  border: 0.6rem solid #274c77;
  border-radius: 10%;
  width: 20rem;
  height: 20rem;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
#about-us .number ul span {
  font-size: 5rem;
  font-family: "Lora-Bold";
}
@media screen and (min-width:1024px) {
  #about-us .number ul {
    margin: 7rem auto;
  }
}
@media screen and (min-width:768px) {
  #about-us .number {
    padding: 5rem 20rem;
  }
}
#about-us .trip-with-us a {
  display: block;
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 40%;
  margin: 2rem auto;
  text-align: center;
}
@media screen and (min-width:1024px) {
  #about-us .trip-with-us a:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}
@media screen and (min-width:768px) {
  #about-us .trip-with-us .container div {
    display: flex;
    flex-direction: column;
  }
  #about-us .trip-with-us .container div a {
    margin: 0;
    width: 70%;
  }
}

#myst-dest {
  /* Masquer la barre de défilement */
}
#myst-dest h2 {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/src/assets/images/myst-dest/road.webp");
  background-size: cover;
  background-position: center;
  color: #fdfdfd;
  padding: 5rem;
  margin-bottom: 2rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
          clip-path: ellipse(100% 100% at 50% 0%);
}
#myst-dest span {
  font-family: "Lora-Bold";
}
#myst-dest .intro-myst-dest h4 {
  margin: 4rem 5rem 0 5rem;
}
#myst-dest .intro-myst-dest p {
  margin: 1rem 5rem;
}
#myst-dest h3 {
  padding-top: 2rem;
  margin: 1rem 5rem;
}
#myst-dest legend {
  font-family: "Lora-Bold";
  font-size: 1.8rem;
  padding-top: 4rem;
}
#myst-dest .input-label {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
#myst-dest .input-label input,
#myst-dest .input-label label {
  display: block;
  margin-right: 1rem;
}
#myst-dest .input-label input {
  width: 2.5rem;
}
#myst-dest .input-label label {
  font-family: "Lora-Regular";
}
#myst-dest .design-mobile .mobile-filter {
  background-color: rgba(128, 128, 128, 0.2);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Permet le défilement horizontal */
  gap: 1rem;
  padding: 1rem 5rem;
  /* Masquer la barre de défilement */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE et Edge */
}
#myst-dest .design-mobile .mobile-filter section {
  flex: 0 0 auto;
  max-width: 30rem; /* Taille minimale pour les titres des filtres */
}
#myst-dest .design-mobile .mobile-filter section h4 {
  font-size: 1.6rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
#myst-dest .design-mobile .mobile-filter section.active-filter {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
#myst-dest .design-mobile .mobile-filter section.active-filter label {
  font-size: 1.6rem;
}
#myst-dest .mobile-filter::-webkit-scrollbar {
  display: none; /* Chrome, Safari et Edge */
}
#myst-dest .design-tablet {
  display: grid;
  grid-template-columns: 2fr 5fr;
}
#myst-dest .design-tablet .tablet-filter {
  background-color: rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-right: 1px solid #4d4d4d;
  margin-bottom: 3rem;
}
#myst-dest .design-tablet .tablet-filter h4 {
  font-size: 1.6rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
#myst-dest .design-tablet .tablet-filter p {
  margin-left: 0;
}
#myst-dest .design-tablet .info-dest {
  flex-direction: row;
  flex-wrap: wrap;
}
#myst-dest .design-tablet .info-dest article {
  width: 45%;
  height: 50rem;
  margin-top: 3rem;
}
#myst-dest .info-dest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}
#myst-dest .info-dest article {
  width: 70%;
  height: 63rem;
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#myst-dest .info-dest article h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  padding: 2rem;
}
#myst-dest .info-dest article p {
  padding-left: 1rem;
}
#myst-dest .info-dest article img {
  display: block;
  width: 100%;
  aspect-ratio: 16/12; /* Ratio largeur / hauteur */
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  margin: 0 auto 1rem auto;
}
#myst-dest .info-dest article a {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  display: block;
  width: 40%;
  margin: 2rem auto;
  text-align: center;
}
@media screen and (min-width:768px) {
  #myst-dest .info-dest article a {
    width: 45%;
  }
}
@media screen and (min-width:1024px) {
  #myst-dest .info-dest article a:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}
@media screen and (min-width:1024px) {
  #myst-dest .info-dest article:hover {
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.5);
  }
}

#myst-dest-detail .back {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: #4d4d4d;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
#myst-dest-detail h2 {
  text-align: center;
  padding: 5rem;
}
#myst-dest-detail img {
  display: block;
  width: 70%;
  margin: auto;
}
#myst-dest-detail .information-destination {
  margin: 5rem;
}
#myst-dest-detail .information-destination h3 {
  padding: 3rem 0;
  margin-top: 2rem;
}
#myst-dest-detail .information-destination div {
  text-align: center;
}
#myst-dest-detail .information-destination div img {
  max-width: 70%;
}
#myst-dest-detail .information-destination span {
  font-family: "Lora-Bold";
  text-decoration: underline;
}
#myst-dest-detail .information-destination svg {
  font-size: 2.5rem;
  color: #274c77;
}
#myst-dest-detail .information-destination .info-price {
  font-style: italic;
}
@media screen and (min-width:1024px) {
  #myst-dest-detail .information-destination {
    margin: auto;
  }
}
#myst-dest-detail section:last-of-type {
  margin: 5rem;
  display: flex;
  flex-direction: column;
}
#myst-dest-detail section:last-of-type div img {
  margin-top: 2rem;
}
@media screen and (min-width:768px) {
  #myst-dest-detail section:last-of-type div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  #myst-dest-detail section:last-of-type div img {
    width: 50%;
    margin: 0;
  }
}
#myst-dest-detail section:last-of-type button {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  display: block;
  width: 20%;
  margin: 5rem auto;
}
@media screen and (min-width:1024px) {
  #myst-dest-detail section:last-of-type button:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}
@media screen and (min-width:1024px) {
  #myst-dest-detail section:last-of-type {
    margin: auto;
  }
}

#cust-trip h2 {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/src/assets/images/cust-trip/beach.webp");
  background-size: cover;
  background-position: center;
  color: #fdfdfd;
  padding: 5rem;
  margin-bottom: 2rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
          clip-path: ellipse(100% 100% at 50% 0%);
}
#cust-trip span {
  font-family: "Lora-Bold";
}
#cust-trip .confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
}
#cust-trip .confirmation svg {
  font-size: 4rem;
  color: #274c77;
}
#cust-trip .confirmation .fa-circle-check {
  margin: 2rem 0;
}
#cust-trip .confirmation p {
  text-align: center;
}
#cust-trip .confirmation p:last-of-type {
  padding-top: 3rem;
}
#cust-trip section .introduction-cust-trip {
  margin: 5rem 5rem 0 5rem;
}
#cust-trip section .introduction-cust-trip p {
  margin-bottom: 1rem;
}
#cust-trip section form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 3rem 5rem;
}
#cust-trip section form .question {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
#cust-trip section form .question svg {
  font-size: 4rem;
  color: #274c77;
  width: 5rem;
}
#cust-trip section form .question div {
  display: flex;
  flex-direction: column;
  width: 32rem;
}
#cust-trip section form .question div label {
  font-size: 1.5rem;
  font-family: "Lora-Bold";
  padding: 0.5rem 0rem;
  margin-bottom: 0.5rem;
}
#cust-trip section form .question div select {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  padding: 0.5rem 0rem;
  margin-bottom: 0.7rem;
}
#cust-trip section form .question div input {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding-left: 0.5rem;
  height: 3rem;
}
#cust-trip section form button {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 30%;
  display: block;
  margin: 5rem auto;
}
@media screen and (min-width:1024px) {
  #cust-trip section form button:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}
@media screen and (min-width:768px) {
  #cust-trip section .question:nth-child(odd) {
    align-self: flex-start;
  }
  #cust-trip section .question:nth-child(even) {
    align-self: flex-end;
    flex-direction: row-reverse;
  }
}

#reservation .back {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: #4d4d4d;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
#reservation h2 {
  text-align: center;
  padding: 5rem;
}
#reservation span {
  font-family: "Lora-Bold";
}
#reservation .confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
}
#reservation .confirmation svg {
  font-size: 4rem;
  color: #274c77;
}
#reservation .confirmation .fa-circle-check {
  margin: 2rem 0;
}
#reservation .confirmation p {
  text-align: center;
}
#reservation .confirmation p:last-of-type {
  padding-top: 3rem;
}
#reservation p,
#reservation h3 {
  margin: 0 3rem;
}
#reservation section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reservation section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#reservation section form label {
  font-size: 1.5rem;
  font-family: "Lora-Bold";
  padding: 0.5rem 0rem;
}
#reservation section form input {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding-left: 0.5rem;
  height: 3rem;
}
#reservation section form .date {
  margin: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
}
#reservation section form .date div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
}
#reservation section form .date div label {
  margin-top: 3rem;
}
#reservation section form .date div input {
  width: 20rem;
}
#reservation section form .people {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
}
#reservation section form .people div {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;
}
#reservation section form .budget-duration {
  margin-top: 4rem;
  display: flex;
  align-items: flex-start;
}
#reservation section form .budget-duration .info-price {
  font-style: italic;
}
#reservation section form button {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  display: block;
  width: 20%;
  margin: 3rem auto;
}
@media screen and (min-width:1024px) {
  #reservation section form button:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}

#contact .title {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/src/assets/images/contact/palm-tree-sunset.webp");
  background-size: cover;
  background-position: center;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  -webkit-clip-path: ellipse(100% 100% at 50% 0%);
          clip-path: ellipse(100% 100% at 50% 0%);
}
#contact .title h2 {
  color: #fdfdfd;
  padding: 1rem;
  border: 0.3rem solid #fdfdfd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#contact svg {
  font-size: 3rem;
  color: #274c77;
}
#contact h3,
#contact h4 {
  padding: 3rem;
}
#contact .contact-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
#contact .contact-detail div {
  text-align: center;
}
#contact .contact-detail div:not(:last-child)::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.2rem;
  background-color: #274c77;
  margin: 2rem auto;
}
#contact .contact-detail a {
  color: black;
}
@media screen and (min-width:768px) {
  #contact .contact-detail {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 4rem;
  }
  #contact .contact-detail div {
    width: 30%;
    position: relative;
  }
  #contact .contact-detail div:not(:last-child)::after {
    content: "";
    display: block;
    width: 0.2rem;
    height: 100%;
    background-color: #274c77;
    margin: 0;
    position: absolute; /* Pour positionner la bordure à droite */
    right: 0; /* Aligner la bordure à droite */
    top: 0; /* Aligner en haut du div */
  }
}
@media screen and (min-width:1024px) {
  #contact .contact-detail {
    margin: 10rem auto;
  }
}
#contact .open-hours {
  margin-bottom: 10rem;
  text-align: center;
}
#contact .open-hours p {
  text-align: center;
}
#contact .form-contact {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/src/assets/images/contact/plane-in-sky.webp");
  background-size: cover;
  background-position: bottom;
  margin: 4rem 0;
  padding: 5rem;
}
#contact .form-contact h3 {
  color: #fdfdfd;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 0;
}
#contact .form-contact form {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#contact .form-contact form label {
  font-size: 1.5rem;
  font-family: "Lora-Bold";
  padding: 0.5rem 0rem;
}
#contact .form-contact form input {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding-left: 0.5rem;
  height: 3rem;
}
#contact .form-contact form select {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  padding: 0.5rem 0rem;
  margin-bottom: 0.7rem;
}
#contact .form-contact form textarea {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0.5rem;
  height: 10rem;
}
#contact .form-contact form button {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 50%;
  display: block;
  margin: 0.5rem auto;
}
@media screen and (min-width:1024px) {
  #contact .form-contact form button:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}
@media screen and (min-width:1024px) {
  #contact .form-contact form {
    width: 50%;
  }
}
#contact .connect {
  margin: 4rem 0;
  padding: 2rem;
}
#contact .connect h3 {
  text-align: center;
  padding-bottom: 5rem;
}
#contact .connect div {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

.auth {
  width: 60%;
  margin: 10rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.auth h2 {
  padding-bottom: 2rem;
}
.auth form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.auth label {
  font-size: 1.5rem;
  font-family: "Lora-Bold";
  padding: 0.5rem 0rem;
}
.auth input {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding-left: 0.5rem;
  height: 3rem;
}
.auth .password-condition {
  font-style: italic;
  font-size: 1.1rem;
}
.auth div:last-of-type {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}
.auth div:last-of-type label {
  font-size: 1.4rem;
}
.auth button {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 30%;
  display: block;
  margin: 0.5rem auto;
}
@media screen and (min-width:1024px) {
  .auth button:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}
.auth a {
  color: #274c77;
  font-style: italic;
  font-family: "Lora-Medium";
}
@media screen and (min-width:1024px) {
  .auth {
    width: 40%;
  }
}

#dashboard h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  padding: 7rem;
}
#dashboard svg {
  color: #b22234;
}
#dashboard section {
  padding: 0 5rem 5rem 5rem;
}
#dashboard section a {
  background-color: #274c77;
  color: #fdfdfd;
  margin: 2rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
@media screen and (min-width:1024px) {
  #dashboard section a:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}

.summary-table .back {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: #4d4d4d;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.summary-table h2 {
  text-align: center;
  padding: 2rem;
}
.summary-table section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-table section div .add-myst-dest {
  margin: 3rem 2rem 0 2rem;
  padding: 0.5rem;
  border: 0.15rem solid #274c77;
  border-radius: 0.3rem;
  color: #274c77;
  font-family: "Lora-Medium";
}
@media screen and (min-width:1024px) {
  .summary-table section div .add-myst-dest:hover {
    background-color: #274c77;
    color: #fdfdfd;
  }
  .summary-table section div .add-myst-dest:hover svg {
    color: #fdfdfd;
  }
}
.summary-table section table {
  max-width: 90%;
  margin: 5rem auto;
}
.summary-table section table th {
  font-family: "Lora-Bold";
  vertical-align: middle;
}
.summary-table section table td:not(:last-of-type),
.summary-table section table th {
  font-size: 1.6rem;
  padding: 0.5rem;
  border: 1px solid #4d4d4d;
}
.summary-table section table td:not(:last-of-type) {
  vertical-align: middle;
}
.summary-table section table .table-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.summary-table section table .table-button select {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  padding: 0.5rem 0rem;
  margin-bottom: 0.7rem;
  width: 16rem;
  margin: 0.5rem;
}
.summary-table section table .table-button div {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width:768px) {
  .summary-table section table .table-button {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.summary-table section table button {
  margin: 0.5rem;
  padding: 0.8rem;
  border: 0.15rem solid #274c77;
  border-radius: 0.3rem;
  color: #274c77;
  font-family: "Lora-Medium";
}
.summary-table section table button svg {
  color: #274c77;
  font-size: 1.5rem;
}
.summary-table section table .contact-button button {
  display: block;
  width: 4rem;
  margin: 1rem;
}
@media screen and (min-width:768px) {
  .summary-table section table .contact-button button {
    margin: 0;
  }
}
@media screen and (min-width:768px) {
  .summary-table section table .contact-button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
  }
}
@media screen and (min-width:1024px) {
  .summary-table section table button:hover {
    background-color: #274c77;
    color: #fdfdfd;
  }
  .summary-table section table button:hover svg {
    color: #fdfdfd;
  }
}
.summary-table section .bold-status {
  font-family: "Lora-Medium";
  color: #274c77;
}

.contact-admin .back,
.cust-trip-admin .back,
.reservation-admin .back {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: #4d4d4d;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.contact-admin h2,
.cust-trip-admin h2,
.reservation-admin h2 {
  text-align: center;
  padding: 4rem;
}
.contact-admin section,
.cust-trip-admin section,
.reservation-admin section {
  width: 90%;
  margin: 5rem auto;
}
.contact-admin section span,
.cust-trip-admin section span,
.reservation-admin section span {
  text-decoration: underline;
  font-family: "Lora-Bold";
}
.contact-admin section a,
.cust-trip-admin section a,
.reservation-admin section a {
  color: #274c77;
  font-family: "Lora-Bold";
}
.contact-admin section button,
.cust-trip-admin section button,
.reservation-admin section button {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  margin: 4rem auto;
  display: block;
}
@media screen and (min-width:1024px) {
  .contact-admin section button:hover,
  .cust-trip-admin section button:hover,
  .reservation-admin section button:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}

.add-myst-dest .back,
.update-myst-dest .back {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: #4d4d4d;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.add-myst-dest h2,
.update-myst-dest h2 {
  text-align: center;
  padding: 4rem;
}
.add-myst-dest .confirmation,
.update-myst-dest .confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
}
.add-myst-dest .confirmation svg,
.update-myst-dest .confirmation svg {
  font-size: 4rem;
  color: #274c77;
}
.add-myst-dest .confirmation .fa-circle-check,
.update-myst-dest .confirmation .fa-circle-check {
  margin: 2rem 0;
}
.add-myst-dest .confirmation p,
.update-myst-dest .confirmation p {
  text-align: center;
}
.add-myst-dest .confirmation p:last-of-type,
.update-myst-dest .confirmation p:last-of-type {
  padding-top: 3rem;
}
.add-myst-dest form,
.update-myst-dest form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: 2rem auto;
}
.add-myst-dest form label,
.update-myst-dest form label {
  font-size: 1.5rem;
  font-family: "Lora-Bold";
  padding: 0.5rem 0rem;
}
.add-myst-dest form select,
.update-myst-dest form select {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  padding: 0.5rem 0rem;
  margin-bottom: 0.7rem;
}
.add-myst-dest form input,
.update-myst-dest form input {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding-left: 0.5rem;
  height: 3rem;
}
.add-myst-dest form textarea,
.update-myst-dest form textarea {
  font-size: 1.6rem;
  font-family: "Lora-Regular";
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0.5rem;
  height: 10rem;
}
.add-myst-dest form button,
.update-myst-dest form button {
  background-color: #274c77;
  color: #fdfdfd;
  font-size: 1.6rem;
  font-family: "Lora-Medium";
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 30%;
  display: block;
  margin: 3rem auto;
}
.add-myst-dest form span,
.update-myst-dest form span {
  font-family: "Lora-Bold";
}
@media screen and (min-width:1024px) {
  .add-myst-dest form button:hover,
  .update-myst-dest form button:hover {
    background-color: #fdfdfd;
    color: #274c77;
    border: 3px solid #274c77;
  }
}

.legals-docs {
  padding-bottom: 5rem;
}
.legals-docs button {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: #4d4d4d;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.legals-docs h2 {
  text-align: center;
  padding: 5rem;
}
.legals-docs section {
  padding: 5rem;
}
.legals-docs section span {
  font-family: "Lora-Bold";
}
.legals-docs section a {
  color: #274c77;
  font-family: "Lora-Medium";
}

#page-not-found .back {
  font-size: 1.3rem;
  font-family: "Lora-Medium";
  color: #4d4d4d;
  background-color: #e3e3e3;
  padding: 0.7rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
#page-not-found section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#page-not-found section svg {
  font-size: 5rem;
  display: block;
  padding: 1rem;
  color: #b22234;
}
#page-not-found section p {
  text-align: center;
  font-size: 2rem;
  font-family: "Lora-Medium";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fdfdfd;
}

main {
  min-height: 80vh;
}

@media screen and (min-width:1024px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }
}
h2 {
  color: #274c77;
  font-family: "Poppins-Medium";
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

h3,
h4 {
  color: #274c77;
  font-family: "Poppins-Medium";
}

h3 {
  font-size: 3rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 2rem;
}

p,
li,
fieldset {
  font-family: "Lora-Regular";
  font-size: 1.6rem;
  text-align: justify;
  line-height: 3rem;
}

a {
  font-family: "Lora-Regular";
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

.message {
  color: #b22234;
  font-family: "Lora-Medium";
}

@media screen and (min-width:1024px) {
  a:hover,
  button:hover {
    cursor: pointer;
  }
}

img {
  border-radius: 10%;
}/*# sourceMappingURL=style.css.map */